In [1]:
import pandas as pd

In [2]:
#Storing the GDP data into a CSV file as prep for the GDP dataframe
gdp_csv = "../Resources/GDP 1947- Q32022.csv"

In [3]:
#Creating the GDP DataFrame
gdp_df = pd.read_csv(gdp_csv)
gdp_df.head()

        DATE QUARTERLY DATE        GDP
0   1/1/2005          05:Q1  12767.286
1   4/1/2005          05:Q2  12922.656
2   7/1/2005          05:Q3  13142.642
3  10/1/2005          05:Q4  13324.204
4   1/1/2006          06:Q1  13599.160

In [25]:
# #Refining the GDP DataFrame
# cleaned_gdp_df = gdp_df[['QUARTERLY DATE', 'GDP']].copy()
# cleaned_gdp_df.head()

In [23]:
cleaned_gdp_df[['Year', 'Quarter']] = cleaned_gdp_df['QUARTERLY DATE'].str.split(':', expand=True)
cleaned_gdp_df.head()

  QUARTERLY DATE Year Quarter        GDP
0          05:Q1   05      Q1  12767.286
1          05:Q2   05      Q2  12922.656
2          05:Q3   05      Q3  13142.642
3          05:Q4   05      Q4  13324.204
4          06:Q1   06      Q1  13599.160

In [24]:
cleaned_gdp_df = cleaned_gdp_df[['QUARTERLY DATE', 'Year', 'Quarter', 'GDP']]
cleaned_gdp_df.head()

  QUARTERLY DATE Year Quarter        GDP
0          05:Q1   05      Q1  12767.286
1          05:Q2   05      Q2  12922.656
2          05:Q3   05      Q3  13142.642
3          05:Q4   05      Q4  13324.204
4          06:Q1   06      Q1  13599.160